body {
    background: linear-gradient(rgb(71, 122, 146), pink, rgb(71, 122, 146));
    height: 1200px;
    width: 500px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-left: 20%;
    margin-top: 8%;
}

nav {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    font-style: unset;
    margin-left: 200px;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: solid 5px pink;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 200px;

}

.iconos img {
    width: 30px;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    margin-top: 140px;
    background-color: rgb(71, 122, 146);
    width: 160px;
    border-radius: 8px;
    padding: 10px;
}

.texto {
    font-size: 50px;
    width: 560px;
    margin-left: 70px;
}

.padre {
    margin-left: 30%;
    display: flex;
    flex-direction: row;
}

.texto2 {
    margin-left: 120px;
    font-size: 30px;
}

.titulo {
    margin-top: 150px;
    margin-left: 670px;
    font-size: 30px;
}

.imagen1 {
    margin-top: 50px;
    height: 500px;
    width: 800px;
    margin-left: 70%;
    border-radius: 50px;
}

.imagen2 {
    margin-top: 40px;
    height: 500px;
    width: 800px;
    margin-left: 70%;
    border-radius: 50px;
}

.imagenProgramacion {
    margin-top: 150px;
    margin-left: 170px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: solid 5px rgb(71, 122, 146);
}

.titulo2 {
    margin-top: 150px;
    margin-left: 670px;
    font-size: 30px;
}

.tipos {
    margin-left: 125%;
    gap: 150px;
}

.tipo1 {
    background-color: aliceblue;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
}

.tipo2 {
    background-color: aliceblue;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 20px;
}

.tipo3 {
    background-color: aliceblue;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 20px;
}

.tipo4 {
    background-color: aliceblue;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 20px;
}

.tipo5 {
    background-color: aliceblue;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 20px;
}

.tipo6 {
    background-color: aliceblue;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 20px;
}

.titulo3 {
    margin-top: 150px;
    margin-left: 670px;
    font-size: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-left: 580px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer{
    background-color: rgba(0, 0, 0, 0.412);
    width: 1550px;
}

.iconos2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: -40px;
}
