<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<header class="Principal" th:each="infoper : ${descripciones}">

    <img class="logo" th:src="${informacionPersonal.getFoto_logo()}" alt="Logo">

    <nav>
        <a href="#about">About</a>
        <a href="#galeria">Galeria</a>
        <a href="#servicios">Servicios</a>
        <a href="#contacto">Contacto</a>
    </nav>

</header>

<section class="padre"  id="about">
    <div th:each="informacionPersonal : ${descripciones}">

        <div>
            <h2>Mi portfolio</h2>
        </div>

        <div>
            <h1 class="texto" th:text="${informacionPersonal.getNombre()}"></h1>
        </div>

        <div class="texto2">
            <p th:text="${informacionPersonal.getTexto()}"></p>
        </div>

    </div>

    <div th:each="informacionPersonal : ${descripciones}" >
        <img class="imagenProgramacion" th:src="${informacionPersonal.getFoto()}"
             alt="">
    </div>


</section>

<section class="galeria" id="galeria">
    <div class="titulo">
        <h1>Galeria</h1>
    </div>

    <div th:each="proyectos:${proyectos}">
        <img class="imagen1" th:src="${proyectos.getFoto()}" alt="">
    </div>
</section>

<section class="servicios" id="servicios">
    <div class="titulo2">

        <h1>Servicios</h1>

    </div>

    <div class="tipos" th:each="servicios : ${servicios}">
        <div class="tipo1">
            <p th:text="${servicios.getNombre()}"></p>
        </div>

    </div>

</section>

<section class="contacto" id="contacto">
    <div class="titulo3">
        <h1>Contacto</h1>
    </div>

    <form action="/" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

        <button type="submit">Enviar Mensaje</button>
    </form>
    <p th:if="${message!=null}" th:text="${message}"></p>

</section>


</body>

</html>